.contact {
    padding: 60px 20px;
    background-color: black;
    text-align: center;
  }
  
  .contact h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color:var(--primary-color);
  }
  
  .contact-form {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 3px solid  var(--primary-color)
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .contact-form button {
    background-color: black;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color:  var(--primary-color) ;
  }
  
  .status {
    margin-top: 20px;
    font-size: 16px;
    color: #28a745;
  }
  